@model IEnumerable<TransactionTracker.ViewModels.TransactionViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Transaction Tracker</h1>
    <p class="lead">A simple application to track your spending.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Was this transaction planned?</th>
                    <th>Was this transaction necessary?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    <tr>
                        <td>
                            @transaction.Amount.ToString("F")
                        </td>

                        <td>
                            @transaction.Description
                        </td>

                        <td>
                            @(transaction.WasPlanned ? "Yes" : "No")
                        </td>

                        <td>
                            @(transaction.WasNecessary ? "Yes" : "No")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>